<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>VideoTools.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>chunk.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>diag.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>edge.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>halfsize.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>mask.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>pregif.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>square.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>still.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>videostab.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7EB428281D847764004FBEAC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7EB428461D847DFA004FBEAC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7EB4284F1D847E5E004FBEAC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7EB428591D847E70004FBEAC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7EB428631D847E7B004FBEAC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7EB4286D1D847E87004FBEAC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7EB428771D847E93004FBEAC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7EB428811D847EA7004FBEAC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7EB4288B1D847EB3004FBEAC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7EB4289B1D848982004FBEAC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
